/*------------------------------ Responsive --------------------------*/
/* Large screen */
@media screen and (min-width: 992px) {}

/* Medium screen  */
@media screen and (min-width: 768px) {}

/* Small screen */
@media screen and (min-width: 600px) {}

/* Extra small */
@media screen and (max-width: 600px) {}

/*------------------------------ header ------------------------------*/

.banniereHeader {
    position: relative;
    width: 100%;
}

.drapeau {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 5px;
}

.banniere  {
    width: 100%;
    display: block;
}

.drapeau-img {
    width: 30px;
    height: auto;
}


/*------------------------------ footer--------------------------------*/

/*------------------------------ Boutique --------------------------*/
.boutique-container {
    display: flex;
    gap : 10px;
    justify-content: space-around;
}

#card_boutique {
    display: flex;
    height: 80px;
    width : 40px;
    flex: 1 0 140px;

}

.titre {
    justify-content: center;
}